DB_USER=postgres
DB_PASSWORD=postgres
KEYSTORE_PASSWORD=changeit
APP_SEED_ADMIN_PASSWORD=admin123
APP_SEED_USER_PASSWORD=user123

# Проброс портов на хост (docker compose)
APP_HTTPS_PORT=8443
POSTGRES_PUBLISH_PORT=5432
